.section-fifo {
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 225px;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
}

input {
  height: 35px;
  width: 300px;
  padding: 0 0.5rem;
  border: 1px solid #cacaca;
  font-family: inherit;
}

input:focus {
  outline: 2px solid #000;
}

#create-array {
  margin-left: 1rem;
}

select {
  height: 35px;
  width: 200px;
  font-family: inherit;
  padding: 0 0.5rem;
  border: 1px solid #cacaca;
}

option {
  color: #333;
}

#actionVal {
  width: 100px;
}

#submit {
  margin-top: 1rem;
  width: 100px;
}
