nav {
  text-align: center;
  background-color: #000;
  color: #fff;
}

h1 {
  padding: 1rem 0;
}

nav ul {
  text-align: center;
  padding: 1rem 0;
}

nav ul li {
  display: inline-flex;
  margin: 0.5rem 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a.active {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
}
