.section-result {
  background-color: #f1f1f1;
  padding: 2.5rem;
  line-height: 2;
}

.section-result div {
  display: flex;
  margin-bottom: 1rem;
}

.section-result div label {
  display: inline-block;
  width: 235px;
}

.subheader {
  font-weight: 700;
}

.action-wrapper {
  display: flex;
}

.result-txt {
  font-weight: 700;
  color: green;
}
